* {
  margin: 0;
  padding: 0;
  font-size: 0.625rem;
  box-sizing: border-box;
}

:root {
  --black: #1f1f1f;
  --yellow: #ffd600;
  --gray: #3d3d3d;
}

body {
  background-color: var(--black);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding-top: 5rem;
}

/* #projekty__lista {
  width: 100vw;
  height: 90vh;
  text-align: center;
}

.page_name {
  font-size: 7rem;
  color: white;
  font-weight: 400;
}

.projekty__wiz {
  width: 100vw;
  padding: 0 2rem;

  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  row-gap: 10rem;
  column-gap: 2rem;
}

.projekt__wiz {
  position: relative;
  height: 300px;
  width: 450px;
  flex-wrap: wrap;

  transition: all 0.6s ease-out;
  border-radius: 5px;
}

.projekt__wiz:hover .wiz__nazwa {
  font-size: 4rem;
  font-weight: 400;
}
.projekt__wiz:hover .wiz__obrazek {
  filter: blur(3px) brightness(50%);
  transform: translateY(-50%);
}
.projekt__wiz:hover > a ~ .wiz__opis {
  opacity: 1;
  bottom: -30%;
}

.wiz__nazwa {
  font-size: 3rem;
  font-weight: 300;
  width: 100%;
  color: white;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  z-index: 50;
}

.wiz__obrazek {
  max-width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  transition: all 1s;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
  z-index: 30;
}

.wiz__opis {
  position: absolute;
  bottom: 30%;
  left: 50%;
  width: 100%;
  padding: 0 2rem;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  transition: all 0.6s ease-out;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
  font-family: "PT Sans", sans-serif;
  z-index: 0;
} */

/* @media (max-width: 480px) {
  .page_name {
    font-size: 4rem;
  }


  .projekty__wiz {
    top: 0;
    padding: 6rem 0.5rem;

    transform: translate(0);
    left: 0;
    flex-direction: column;
  }

  .wiz__obrazek {
    height: auto;
  }


  .projekt__wiz {
    width: 320px;
  }

  .wiz__opis {
    font-size: 1.7rem;
  }

    .wiz__opis {
    position: relative;
    padding-top: 1rem;
    opacity: 1;
    z-index: 30;
    bottom: 0;
    transform: translateX(-50%);

    letter-spacing: 1px;
    line-height: 1.4;
    font-family: "PT Sans", sans-serif;

    color: white;
    transition: all 0.6s ease-out;
    font-weight: 300;

  }
} */

#projekty__lista {
  width: 100vw;
  height: 90vh;
  text-align: center;
}

.page_name {
  font-size: 4rem;
  color: white;
  font-weight: 400;
}

.projekty__wiz {
  width: 100vw;
  padding: 6rem 0.5rem;

  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  row-gap: 10rem;
  column-gap: 2rem;
}

.projekt__wiz {
  position: relative;
  height: auto;
  width: 320px;
  transition: all 0.6s ease-out;
  border-radius: 5px;
}

/* .projekt__wiz:hover .wiz__nazwa {
  font-size: 4rem;
  font-weight: 400;
}
.projekt__wiz:hover .wiz__obrazek {
  filter: blur(3px) brightness(50%);
  transform: translateY(-50%);
}
.projekt__wiz:hover > a ~ .wiz__opis {
  opacity: 1;
  bottom: -30%;
} */

.wiz__nazwa {
  font-size: 3rem;
  font-weight: 300;
  width: 100%;
  color: white;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  z-index: 50;
}

.wiz__obrazek {
  max-width: 100%;
  height: auto;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  transition: all 1s;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
  z-index: 30;
}

/* .wiz__opis {
  font-size: 1.7rem;
}

  .wiz__opis {
  position: relative;
  padding-top: 1rem;
  opacity: 1;
  z-index: 30;
  bottom: 0;
  transform: translateX(-50%);

  letter-spacing: 1px;
  line-height: 1.4;
  font-family: "PT Sans", sans-serif;

  color: white;
  transition: all 0.6s ease-out;
  font-weight: 300;

} */

.wiz__opis {
  position: relative;
  font-family: "PT Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.4;
  bottom: 0;
  left: 50%;
  width: 100%;
  padding: 0 2rem;
  transform: translateX(-50%);
  color: white;
  transition: all 0.6s ease-out;
  z-index: 30;
}

.wiz__opis a {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
}

.firma__mala {
  color: var(--yellow);
}

.reh-med__link {
  color: rgb(0, 132, 255);
  cursor: pointer;
}

.slusar__link {
  color: rgb(253, 152, 0);
}

.dzikbook__link {
  color: rgb(111, 182, 5);
}

@media (min-width: 480px) {
  .page_name {
    font-size: 5rem;
  }

  .projekty__wiz {
    padding: 10rem 2rem;
  }

  .projekt__wiz {
    width: 400px;
  }

  .wiz__opis {
    font-size: 2rem;
  }
}

/* @media (max-width: 1425px) {
  .projekty__wiz {
    top: 40%;
  }

  .projekt__wiz {
    width: 400px;
    height: 270px;
  }

  .wiz__opis {
    font-size: 2rem;
  }
} */

@media (min-width: 760px) {
  .projekty__wiz {
    flex-direction: row;
  }

  .projekt__wiz {
    height: 230px;
    width: 350px;
  }
  .wiz__nazwa {
    font-size: 2.5rem;
  }

  .wiz__opis {
    position: absolute;
    bottom: 30%;
    left: 50%;
    width: 100%;
    padding: 0 2rem;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0;
  }

  .projekt__wiz:hover .wiz__nazwa {
    font-size: 3.2rem;
    font-weight: 400;
  }

  .projekt__wiz:hover .wiz__obrazek {
    filter: blur(3px) brightness(50%);
    transform: translateY(-50%);
  }

  .projekt__wiz:hover > a ~ .wiz__opis {
    bottom: -50%;
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .page_name {
    font-size: 7rem;
  }

  .projekty__wiz {
    top: 50%;
    transform: translateY(-50%);
  }

  .projekt__wiz {
    width: 400px;
    height: 270px;
  }

  .projekt__wiz:hover .wiz__nazwa {
    font-size: 4rem;
  }

  .projekt__wiz:hover > a ~ .wiz__opis {
    bottom: -30%;
  }
}

@media (min-width: 1280px) {
  .projekty__wiz {
    top: 40%;
  }

  .projekt__wiz {
    width: 400px;
    height: 270px;
  }
}

@media (min-width: 1430px) {
  .projekt__wiz {
    width: 450px;
    height: 300px;
  }

  .wiz__opis {
    font-size: 2.5rem;
  }
}
/* @media (max-width: 1279px) {
  .projekty__wiz {
    top: 50%;
  }
} */

/* @media (max-width: 1000px) {
  .page_name {
    font-size: 5rem;
  }

  .projekt__wiz {
    width: 350px;
    height: 230px;
  }

  .wiz__nazwa {
    font-size: 2.5rem;
  }

  .projekt__wiz:hover .wiz__nazwa {
    font-size: 3.2rem;
    font-weight: 400;
  }

  .projekt__wiz:hover > a ~ .wiz__opis {
    bottom: -50%;
  }
} */

/* @media (max-width: 759px) {
  .projekty__wiz {
    top: 0;
    padding: 10rem 2rem;
    transform: translate(0);
    left: 0;
    flex-direction: column;
  }

  .projekt__wiz {
    height: auto;
    width: 400px;
  }

  .wiz__obrazek {
    height: auto;
  }

  .wiz__opis {
    position: relative;
    padding-top: 1rem;
    opacity: 1;
    z-index: 30;
    bottom: 0;
    transform: translateX(-50%);
  }

  .projekt__wiz:hover .wiz__nazwa {
    font-size: 2.5rem;
    font-weight: 300;
  }
  .projekt__wiz:hover .wiz__obrazek {
    filter: blur(0) brightness(100%);
    transform: translateY(0);
  }

  .projekt__wiz:hover > a ~ .wiz__opis {
    bottom: 0;
  }
} */

/* @media (max-width: 480px) {
  .page_name {
    font-size: 4rem;
  }


  .projekty__wiz {
    top: 0;
    padding: 6rem 0.5rem;

    transform: translate(0);
    left: 0;
    flex-direction: column;
  }

  .wiz__obrazek {
    height: auto;
  }


  .projekt__wiz {
    width: 320px;
  }

  .wiz__opis {
    font-size: 1.7rem;
  }

    .wiz__opis {
    position: relative;
    padding-top: 1rem;
    opacity: 1;
    z-index: 30;
    bottom: 0;
    transform: translateX(-50%);

    letter-spacing: 1px;
    line-height: 1.4;
    font-family: "PT Sans", sans-serif;

    color: white;
    transition: all 0.6s ease-out;
    font-weight: 300;

  }
} */
